@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSection.cshtml";
}
<div class="row p-8">
    <div id="grid-odatip"></div>
</div>


<div id="modal-odatip" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title"></h5></div>
            <div class="modal-body">
                <div id="odatip-form"></div>
            </div>
            <div class="modal-footer">
                <button type="button" data-role="save" class="btn btn-primary">Save</button>
                <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/js/core/http.js")" type="module"></script>
<script src="@Url.Content("~/js/screens/roomtype/index.js")" type="module"></script>

