@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSection.cshtml";
}

<script type="module" src="~/js/core/http.js"></script>
<script type="module" src="~/js/core/dxHelpers.js"></script>
<script type="module" src="~/js/core/modal.js"></script>

<div id="grid-roombedtype"></div>

<script type="module" src="~/js/pages/roombedtype/service.js"></script>
<script type="module" src="~/js/pages/roombedtype/formBindings.js"></script>
<script type="module" src="~/js/pages/roombedtype/component.js"></script>
<script type="module" src="~/js/pages/roombedtype/index.js"></script>

